
.ro-loading {
	background: transparent url("clock.gif") 0 0 no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 64px;
	height: 64px;
	margin-left: -32px;
	margin-top: -32px;
	pointer-events: none;
}

.ro-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	opacity: 0;
	transition: opacity 1s ease;
}

.ro-map {
	height: 100%;
}

.ro-overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.5);
}

.ro-dialog {
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	width: 600px;
	height: 400px;
}
.ro-dialog-inner {
	margin: 0 10px;
}
.ro-dialog-to-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.ro-controls a {
	color: #555555;
	font-size: 16px;
}
.ro-controls a:hover {
	text-decoration: none;
	color: #111111;
}
.ro-controls-aleft {
	position: absolute;
	left: 0;
	top: 0;
}
.ro-controls-aright {
	position: absolute;
	right: 0;
	top: 0;
}

.ro-off {
	color: #909090;
}
.ro-off a {
	color: #628baa;
}

.ro-project {
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 30px;
	width: 320px;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	cursor: default;
}
.ro-project-inner {
	margin: 0 10px;
}
.ro-project-settings-controls {
	position: absolute;
	top: 8px;
	right: 8px;
}
.ro-project-add-layer {
	margin-bottom: 10px;
}

.ro-layer {
	background-color: #ffffff;
	border-top: 1px solid #e5e5e5;
	border-left: 4px solid transparent;
	padding: 10px 10px 10px 6px;
}
.ro-layer:hover {
	border-left: 4px solid #e5e5e5;
}
.ro-layer.ro-layer-active {
	border-left: 4px solid #4d90fe;
}
.ro-layer-drag {
	border: 1px solid #e5e5e5;
}
.ro-layer-header {
	position: relative;
	padding-left: 20px;
}


.ro-welcome-offset {
	margin-top: 30px;
}